
body {

	background: url("fire.jpeg") no-repeat 0 0 fixed;
	background-size: 100% 100%;
	margin: 0;
}

.container.content {
	margin-top: 25px;
	padding-top: 15px;
	background-color: #353535;
	border-radius: 5px;
	border: 1px solid #454545;
	transition: all 0.55s;
	padding-bottom: 25px;
	box-shadow: 0px 0px 5px 2px #252525;
}

/*.container.content div:not(.ghost) {
	border-radius: 3px;
	padding: 10px 15px 10px 10px;
	box-shadow: 0px 0px 5px 1px #252525;
	margin-bottom: 20px;
	transition: all 0.65s;
}

.container.content div:not(.ghost):hover {
	box-shadow: 0px 0px 5px 1px #353535;
	transition: all 0.65s;
}*/

.container.content p {
	color: #c8c8c8;
	padding-bottom: 5px;
	margin: auto;
}

.container.content h2 {
	color: #c8c8c8;
	padding-bottom: 15px;
	margin: auto;
}

.container.content.box {
	margin-left: 15%;
	width: 70%;
}

.container.content.box span {
	letter-spacing: 2px;
	color: #e8e8e8;
	padding: 0px;
	font-size: 16px;
	font-family: "Abril Fatface", cursive;
}

.dropdown:hover .dropdown-menu {
	display: inline-block;
}

.dropdown-menu li {
	width: 100%;
}

.dropdown-menu li a {
	text-align: left;
}

.header {
	color: #e8e8e8;
	text-align: center;
	text-decoration-style: bold;
}

.navbar-btn {
	margin-right: 15px;
}

.navbar.navbar-default {
	top: 0px;
	position: sticky;
}

.nav.navbar-nav {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
}

.nav.navbar-nav li {
	float: none;
	text-align: center;
	display: inline-block;
	margin-right: -5px;
}

.nav.navbar-nav li:not(.no-hover):hover {
	background-color: #f1f1f1;
}

.useless-padding {
	padding-top: 50px;
}
