
body {

	background: url("0.jpg") no-repeat 0 0 fixed;
	background-size: 100% 100%;
}

.container.content {
	margin-top: 25px;
	padding-top: 15px;
	background-color: #f8f8f8;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	transition: all 0.55s;
}

.container.content div:not(.ghost) {
	padding: 10px 15px 10px 10px;
	box-shadow: 0px 0px 5px 1px #ececec;
	margin-bottom: 20px;
	transition: all 0.65s;
}

.container.content div:hover {
	box-shadow: 0px 0px 5px 1px #d8d8d8;
	transition: all 0.65s;
}

.container.content div p {
	margin: auto;
	text-indent: 40px;
}

.container.content.box {
	margin-left: 25%;
	width: 50%;
}

.dropdown:hover .dropdown-menu {
	display: inline-block;
}

.header {
	text-align: center;
	text-decoration-style: bold;
}

.navbar-btn {
	margin-right: 15px;
}

.navbar.navbar-default {
	top: 0px;
	position: sticky;
}

.nav.navbar-nav {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin:0 auto;
}

.nav.navbar-nav li {
	float: none;
	display: inline-block;
}

.nav.navbar-nav li:not(.no-hover):hover {
	background-color: #f1f1f1;
}
